# Inbuilt Data Structure
- List
- Tuple
- Set
- Dict

List : **mutable**, **ordered**, and **heterogeneous** elements.

In [2]:
my_list = [1, 2, 3]
my_list.append(4)    # append()
print(my_list)

[1, 2, 3, 4]

In [5]:
my_list = [1, 2, 3]
my_list.extend([4,5,6])  #extend()
print(my_list)

[1, 2, 3, 4, 5, 6]

In [9]:
my_list = [1, 2, 3]
my_list.insert(0, 10) #insert(index, value)
print(my_list)

my_list.insert(len(my_list), 50)  # if index last or out index range it will always insert at last.
print(my_list)

[10, 1, 2, 3]
[10, 1, 2, 3, 50]

In [11]:
my_list = [1, 2, 3, 4, 3]
my_list.remove(1)  #remove(value)
print(my_list)

[2, 3, 4, 3]

In [13]:
my_list = [1, 2, 3, 4, 3]
my_list.pop()  #pop() : delete from last
print(my_list)

my_list.pop(0)  #pop(index)
print(my_list)

[1, 2, 3, 4]
[2, 3, 4]

In [14]:
my_list = [1, 2, 3, 4]
my_list.clear()   #clear()
print(my_list)

[]

In [20]:
my_list = [1, 2, 3, 4, 3, 5, 5]
index_value = my_list.index(3)   #index(value, start, stop) -> index
print(index_value)

2

In [25]:
my_list = [1, 2, 3, 4, 3, 5, 5]
print(my_list.count(3))  #count(value) : return number of repeatations of value in list
print(my_list.count(5))

2
2

In [30]:
my_list = [1, 2, 3, 4, 3, 5, 5]
my_list.sort()    #sort() -> accesding sorting
print(my_list)

my_list.sort(reverse=True)  #sort() : decending sorting
print(my_list)

[1, 2, 3, 3, 4, 5, 5]
[5, 5, 4, 3, 3, 2, 1]

In [32]:
my_list = [1, 2, 3, 4, 3, 5, 5]
my_list.reverse()   #reverse()
print(my_list)

[5, 5, 3, 4, 3, 2, 1]

In [33]:
my_list = [1, 2, 3, 4]
copy_list = my_list.copy()  #copy() : clone the list
print(copy_list)

[1, 2, 3, 4]

In [34]:
my_list = [1, 2, 3, 4]
my_list.clear()  #clear(): clear the list
print(my_list)

[]

In [38]:
my_list = [1, 2, 3, 4]
del my_list[2]     #del : delete the element and variable
print(my_list)

del my_list[0:2]
print(my_list)

del my_list   #del : delete the list variable
print(my_list)

[1, 2, 4]
[4]

NameError: name 'my_list' is not defined

In [42]:
my_list = [1, 2, 3, 4, 5]
print(max(my_list))    #max(list) : max value from list
print(min(my_list))    #min(list) : min value from list

5
1

In [43]:
my_list = [1, 2, 3, 4, 5]
print(sum(my_list))   #sum(list) : sum all elements

15

In [48]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

list3 = list(zip(list1, list2))   #zip(list1, list2): combine iterable object into list of tuples
print(list3)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [50]:
my_list = [0, 1, 2]
print(any(my_list)) #any(list): return True if any element having as True

True

In [55]:
my_list = [1, 1, 2]
print(all(my_list)) #all(list) : return true if all true if any zero return false

my_list = [0, 1, 2]
print(all(my_list))

True
False

#Summary of List
- Modification Methods: append(), extend(), insert(), remove(), pop()
- Utility Methods: index(), count(), sort(), reverse(), copy()
- Other Operations: del, clear(), list(), zip(), any(), all()

#Nested List in Python

In [60]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]   #Accessting nested List
print(nested_list[0])
print(nested_list[1][2])

[1, 2, 3]
6

In [62]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]   #Modify nested List
nested_list[1][2] = 100
print(nested_list)

[[1, 2, 3], [4, 5, 100], [7, 8, 9]]

In [67]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#adding elements in nested list
nested_list.append([10, 11, 12])
print(nested_list)

#Adding an element to the second sublist
nested_list[1].append(12)
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
[[1, 2, 3], [4, 5, 6, 12], [7, 8, 9], [10, 11, 12]]

In [70]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# Removing the second list (index 1)
nested_list.pop()
print(nested_list)

# Removing the last element from the first sublist
nested_list[0].pop()
print(nested_list[0])

[[1, 2, 3], [4, 5, 6]]
[1, 2]

In [72]:
# Iterating through the nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in nested_list:
  for col in row:
    print(col, end=' ')

1 2 3 4 5 6 7 8 9

In [76]:
#List Comprehension with Nested Lists
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[element for row in nested_list for element in row if element % 2 ==0] #All even element

[2, 4, 6, 8]

#Tuple :
- Immutable
- Ordered
- Heterogeneous
- Hashable

In [79]:
my_tuple = (1, 2, 3, 4, 2, 2, 5)
print(my_tuple.count(2))   #count(value)

3

In [82]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple.index(20))
print(my_tuple.index(80)) # value not present in list then give error :'tuple.index(x): x not in tuple'

1

ValueError: tuple.index(x): x not in tuple

In [84]:
my_tuple = (1, 2, 3, 4)
print(my_tuple[1])   # =accsessing element from tuple

2

In [89]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

tuple3 = tuple1 + tuple2;  #concate tuples
print(tuple3)

print(tuple3*3)  #Repeating 3 times

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [90]:
my_tuple = (10, 20, 30, 40, 50)
sclice_tuple = my_tuple[2:4] #Slicing Tuples
print(sclice_tuple)

(30, 40)

In [97]:
my_tuple = (10, 20, 30, 40, 50)
print(40 in my_tuple)
print(50 in my_tuple)  #checking the membership
print(140 in my_tuple)

print('length :',len(my_tuple)) #length of tuple

True
True
False
length : 5

In [103]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1])
print(nested_tuple[1][1])

(3, 4)
4

In [108]:
my_tuple = (5, 2, 9, 1)
sorted_tuple = sorted(my_tuple)  #sorted the tuples's elements and return list bcz tuple has not modified
print(my_tuple)
print(sorted_tuple)

(5, 2, 9, 1)
[1, 2, 5, 9]

In [111]:
my_tuple = (5, 2, 9, 1)
list1 = list(my_tuple) #convert from tuple to list
tuple1 = tuple(list1) #convert from list to tuple

print(list1)
print(tuple1)

[5, 2, 9, 1]
(5, 2, 9, 1)

#Summary of Tuple Methods and Operations
- count(): Returns the number of occurrences of a specified value.
- index(): Returns the index of the first occurrence of a value.
- Creating and Accessing: Tuples are created with parentheses and accessed using indices.
- Concatenation (+) and Repetition (*): You can concatenate or repeat tuples.
- Slicing: Extract a subset of the tuple using slicing syntax.
- Membership (in / not in): Check if an element is in the tuple.
- len(): Get the length (number of elements) of a tuple.
- Nested Tuples: Tuples can contain other tuples and can be accessed using multiple indices.
- sorted(): Sort a tuple into a new list (since tuples are immutable).
- list() and tuple() Conversion: Convert a tuple to a list and vice versa.

![image.png]()

#Set
A set in Python is an unordered collection of unique elements. It is similar to a list or a tuple but with no duplicate values and without any specific order. Sets are useful when you need to ensure that elements are unique, and you don't care about their order.

In [114]:
my_set = {1, 2, 3}
my_set.add(4)  #add(value) if not available then insert element
print(my_set)

my_set.add(1)
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [117]:
my_set = {1, 2, 3, 4}
my_set.remove(4)  #remove(value) : if available then remove otherwise erro will occurs
print(my_set)

my_set.remove(10)
print(my_set)

{1, 2, 3}

KeyError: 10

In [118]:
my_set = {1, 2, 3, 4}
my_set.discard(4)  #discard(value) : if available then remove otherwise not give any error
print(my_set)

my_set.discard(10)
print(my_set)

{1, 2, 3}
{1, 2, 3}

In [121]:
my_set = {1, 2, 3, 4}
print(my_set.pop()) #pop() : remove random elements

1

In [123]:
my_set = {1, 2, 3, 4}
my_set.clear()  #clear() remove all elements from set
print(my_set)

set()

In [124]:
my_set = {1, 2, 3, 4}
copy_set = my_set.copy()
print(copy_set)

{1, 2, 3, 4}

In [126]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2)) #union() : combile all elements
print(set1 | set2) # | : combile all elements

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [127]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.intersection(set2)) #intersection() : common elements
print(set1 & set2) # & :common elements

{3}
{3}

In [128]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.difference(set2)) #difference() : Returns a new set with elements from set1 not in set2
print(set1 - set2) # - :common elements

{1, 2}
{1, 2}

In [131]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.symmetric_difference(set2)) # symmetric_difference() : Returns a set with exclusive elements
print(set1 ^ set2) # ^ : Returns a set with exclusive elements

{1, 2, 4, 5}
{1, 2, 4, 5}

In [133]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print(set1.issubset(set2))  #issubset() Checks if set1 is a subset of set2
print(set2.issubset(set1))

True
False

In [135]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

print(set1.issuperset(set2)) #issuperset() : Checks if set1 is a superset of set2
print(set2.issuperset(set1))

True
False

In [136]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

print(set1.isdisjoint(set2))

True

In [139]:
my_set = {1, 2, 3}

frozen_set = frozenset(my_set); #frozenset : make unmodifiable set
print(my_set)
my_set.add(4)
print(my_set)

frozen_set.add(4)
print(frozen_set)

{1, 2, 3}
{1, 2, 3, 4}

AttributeError: 'frozenset' object has no attribute 'add'

#Dict:
A dictionary in Python is an unordered collection of key-value pairs. Each key in a dictionary must be unique, and it maps to a specific value. Dictionaries are very useful when you need to associate pieces of data with a specific identifier (the key).

In [140]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.clear()  #clear()
print(my_dict)

{}

In [141]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
copy_dict = my_dict.copy()
print(copy_dict)

{'a': 1, 'b': 2, 'c': 3}

In [142]:
keys = ['a', 'b', 'c']
value = 0
my_dicy = dict.fromkeys(keys, value) #fromkeys() : Creates a new dictionary with specified keys and a default value.
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [144]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.get('a')
print(value)

value_not_found = my_dict.get('d', 'not foud key')  # default value if key not present
print(value_not_found)

1
not foud key

In [146]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
items = my_dict.items()
print(items)

print(list(items)) #converting into list

dict_items([('a', 1), ('b', 2), ('c', 3)])
[('a', 1), ('b', 2), ('c', 3)]

In [148]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = my_dict.keys()   # returning keys
print(keys)
print(list(keys))

dict_keys(['a', 'b', 'c'])
['a', 'b', 'c']

In [154]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

value = my_dict.pop('c') #pop()  delete from dict with specified key if not present give error, in this case we can handle with default value
print(value)
print(my_dict)

value = my_dict.pop('d', 'not found key')
print(value)

3
{'a': 1, 'b': 2}
not found key

In [155]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.popitem()  #popitem() : removes and returns the last inserted item
print(my_dict)

{'a': 1, 'b': 2}

In [159]:
my_dict = {'a': 1, 'b': 2}

my_dict.setdefault('c', 3) #if not present it inserted with default value
print(my_dict)

my_dict.setdefault('b', 99) # key present so will not updated with default value
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

In [162]:
my_dict = {'a': 1, 'b': 2}
update_dict = {'b': 3, 'c': 4}
my_dict.update(update_dict)  #update() update one dict from another dict
print(my_dict)

my_dict.update({'d' : 23})
print(my_dict)

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4, 'd': 23}

In [164]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
values = my_dict.values() # return all values from dict
print(values)

list_values = list(values)
print(list_values)

dict_values([1, 2, 3])
[1, 2, 3]

In [165]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']  #del key-value
print(my_dict)

{'a': 1, 'c': 3}

In [167]:
my_dict = dict(a=1, b=2, c=3)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [168]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

items = my_dict.items()
keys = my_dict.keys()
values = my_dict.values()

print(items)
print(keys)
print(values)

dict_items([('a', 1), ('b', 2), ('c', 3)])
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

# Project Overview:
- List: We'll use a list to store all employee data and handle the dynamic nature of the data.
- Tuple: We'll use a tuple to store employee records (since the record of an employee doesn't change once created).
- Set: We'll use a set to store departments (to prevent duplicate department names).
- Dictionary: We'll use a dictionary to store employee details, such as name, role, and salary, indexed by employee ID.

In [205]:
# Set to store unique departments
departments = set()

# List to store all employee data (employee records as tuples)
employees  = []

# Dictionary to store employee details with employee_id as key
employee_details = {}

# Sample Employee Records
employee_data = [
    (101, 'Alice', 'Engineering', 'Software Engineer', 80000, True),
    (102, 'Bob', 'Marketing', 'Marketing Manager', 75000, True),
    (103, 'Charlie', 'Engineering', 'Data Scientist', 95000, True),
    (104, 'David', 'HR', 'HR Manager', 65000, False)
]

for data in employee_data :
  emp_id, name, dept, role, salary, is_active = data
  employees.append(data)
  departments.add(dept)

  employee_details[emp_id] = {
        'name': name,
        'role': role,
        'salary': salary,
        'is_active': is_active
  }


print("Employee List:")
for emp in  employees:
  print(emp)

print("\nUnique Departments:")
print(departments)

print("\nEmployee Details (Dictionary):")
for emp_id, details in employee_details.items():
  print(f"ID: {emp_id}, Name: {details['name']}, Role: {details['role']}, Salary: {details['salary']}")

Employee List:
(101, 'Alice', 'Engineering', 'Software Engineer', 80000, True)
(102, 'Bob', 'Marketing', 'Marketing Manager', 75000, True)
(103, 'Charlie', 'Engineering', 'Data Scientist', 95000, True)
(104, 'David', 'HR', 'HR Manager', 65000, False)

Unique Departments:
{'Marketing', 'HR', 'Engineering'}

Employee Details (Dictionary):
ID: 101, Name: Alice, Role: Software Engineer, Salary: 80000
ID: 102, Name: Bob, Role: Marketing Manager, Salary: 75000
ID: 103, Name: Charlie, Role: Data Scientist, Salary: 95000
ID: 104, Name: David, Role: HR Manager, Salary: 65000

In [206]:
#Function 1: Add New Employee
def add_employee(emp_id, name, dept, role, salary, is_active):
  if emp_id in employee_details:
    return

  employees.append((emp_id, name, dept, role, salary, is_active))
  departments.add(dept)

  employee_details[emp_id] = {
        'name': name,
        'role': role,
        'salary': salary,
        'is_active': is_active
  }

print(f'Employee "{name}" added successfully!')

#calling to add new employee
add_employee(105, 'Eva', 'Engineering', 'DevOps Engineer', 85000, False)

Employee "David" added successfully!

In [207]:
#Function 2: Update Employee Status

def update_employee_status(emp_id, status):
  if emp_id not in employee_details:
    print(f"Employee ID {emp_id} not found!")
    return

  employee_details[emp_id]['is_active'] = status
  print(f"Employee ID {emp_id} status updated to {'Active' if status else 'Inactive'}.")


# Update employee status
update_employee_status(104, True)

Employee ID 104 status updated to Active.

In [208]:
#Function 3: Get Employee Info by ID
def get_employee_info(emp_id):
  if emp_id not in employee_details:
     print(f"Employee ID {emp_id} not found!")
     return

  details  = employee_details[emp_id]
  print(f"Employee ID: {emp_id}")
  print(f"Name: {details['name']}")
  print(f"Role: {details['role']}")
  print(f"Salary: {details['salary']}")
  print(f"Status: {'Active' if details['is_active'] else 'Inactive'}")

# Get information for a specific employee
get_employee_info(101)

Employee ID: 101
Name: Alice
Role: Software Engineer
Salary: 80000
Status: Active

In [209]:
#Function 4: List All Active Employees

def list_active_employees():
  print("Active Employees:")
  for emp_id, details in employee_details.items():
    if details['is_active']  == True:
      print(f"ID: {emp_id}, Name: {details['name']}, Role: {details['role']}")

# List all active employees
list_active_employees()

Active Employees:
ID: 101, Name: Alice, Role: Software Engineer
ID: 102, Name: Bob, Role: Marketing Manager
ID: 103, Name: Charlie, Role: Data Scientist
ID: 104, Name: David, Role: HR Manager

In [222]:
#Function 5: List All Departments

def list_departments():
    print("Departments in the Company:")
    for dept in departments:
        print(dept)

# List all departments
list_departments()

Departments in the Company:
Marketing
HR
Engineering

#Conclusion In this project, we:

- Used Lists to store dynamic employee records.
- Used Tuples to represent individual employee records.
- Used Sets to store unique department names.
- Used Dictionaries to store detailed employee information, including roles and salaries.